@theme {
  /* Reset tailwind colors */
  --color-*: initial;

  /* Default colors */
  --color-inherit: inherit;
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-black: #000;
  --color-white: #fff;

  /* Custom colors */
  /* https://mozilla.design/firefox/#color */
  --color-green-50: #e3fff3;
  --color-green-100: #d0ffed;
  --color-green-200: #b3ffe3;
  --color-green-300: #88ffd1;
  --color-green-400: #53febe;
  --color-green-500: #3fe1b0;
  --color-green-600: #2bc4a2;
  --color-green-700: #068989;
  --color-green-800: #005e5d;
  --color-green-900: #083f37;
  --color-green: var(--color-green-500);

  --color-blue-50: #acf1ff;
  --color-blue-100: #80eaff;
  --color-blue-200: #00ddff;
  --color-blue-300: #00b3f5;
  --color-blue-400: #0290ee;
  --color-blue-500: #0060e0;
  --color-blue-600: #0250bc;
  --color-blue-700: #063f96;
  --color-blue-800: #073072;
  --color-blue-900: #0a214d;
  --color-blue: var(--color-blue-500);

  --color-violet-50: #e6dfff;
  --color-violet-100: #d9bfff;
  --color-violet-200: #cc9eff;
  --color-violet-300: #c588ff;
  --color-violet-400: #ac71ff;
  --color-violet-500: #9059ff;
  --color-violet-600: #7543e3;
  --color-violet-700: #582acb;
  --color-violet-800: #46278e;
  --color-violet-900: #321c64;
  --color-violet: var(--color-violet-500);

  --color-purple-50: #f7e3ff;
  --color-purple-100: #f6b9ff;
  --color-purple-200: #f690ff;
  --color-purple-300: #f564ff;
  --color-purple-400: #d64cf1;
  --color-purple-500: #b933e1;
  --color-purple-600: #962bb9;
  --color-purple-700: #712290;
  --color-purple-800: #4d1a69;
  --color-purple-900: #2b1141;
  --color-purple: var(--color-purple-500);

  --color-pink-50: #ffdff0;
  --color-pink-100: #ffb4db;
  --color-pink-200: #ff8ac6;
  --color-pink-300: #ff6bbb;
  --color-pink-400: #fe4aa3;
  --color-pink-500: #ff2a8a;
  --color-pink-600: #e11586;
  --color-pink-700: #c60184;
  --color-pink-800: #7f165b;
  --color-pink-900: #50134c;
  --color-pink: var(--color-pink-500);

  --color-red-50: #ffe0e8;
  --color-red-100: #ffbec6;
  --color-red-200: #ff9aa2;
  --color-red-300: #ff848c;
  --color-red-400: #ff6a75;
  --color-red-500: #ff505f;
  --color-red-600: #e02950;
  --color-red-700: #c50143;
  --color-red-800: #800220;
  --color-red-900: #440307;
  --color-red: var(--color-red-500);

  --color-orange-50: #fff4de;
  --color-orange-100: #ffd6b2;
  --color-orange-200: #ffb588;
  --color-orange-300: #fea365;
  --color-orange-400: #fe8a4f;
  --color-orange-500: #ff7139;
  --color-orange-600: #e25821;
  --color-orange-700: #cd3d00;
  --color-orange-800: #9d280c;
  --color-orange-900: #7b1604;
  --color-orange: var(--color-orange-500);

  --color-yellow-50: #ffffcd;
  --color-yellow-100: #feff95;
  --color-yellow-200: #ffea7f;
  --color-yellow-300: #ffd567;
  --color-yellow-400: #ffbd4f;
  --color-yellow-500: #ffa537;
  --color-yellow-600: #e17f2e;
  --color-yellow-700: #c45a28;
  --color-yellow-800: #a7341f;
  --color-yellow-900: #960f18;
  --color-yellow: var(--color-yellow-500);

  /* https://protocol.mozilla.org/docs/fundamentals/color */
  --color-light-gray-50: #ffffff;
  --color-light-gray-100: #f9f9fb;
  --color-light-gray-200: #f0f0f4;
  --color-light-gray-300: #e0e0e6;
  --color-light-gray-400: #cfcfd8;
  --color-light-gray-500: #bfbfc9;
  --color-light-gray-600: #afafba;
  --color-light-gray-700: #9f9fad;
  --color-light-gray-800: #8f8f9e;
  --color-light-gray-900: #80808f;
  --color-light-gray: var(--color-light-gray-500);

  --color-dark-gray-50: #5b5b66;
  --color-dark-gray-100: #52525e;
  --color-dark-gray-200: #4a4a55;
  --color-dark-gray-300: #42414d;
  --color-dark-gray-400: #3a3944;
  --color-dark-gray-500: #32313c;
  --color-dark-gray-600: #2b2a33;
  --color-dark-gray-700: #23222b;
  --color-dark-gray-800: #1c1b22;
  --color-dark-gray-900: #15141a;
  --color-dark-gray: var(--color-dark-gray-500);

  --spacing: 4px;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --container-3xs: 256px;
  --container-2xs: 288px;
  --container-xs: 320px;
  --container-sm: 384px;
  --container-md: 448px;
  --container-lg: 512px;
  --container-xl: 576px;
  --container-2xl: 672px;
  --container-3xl: 768px;
  --container-4xl: 896px;
  --container-5xl: 1024px;
  --container-6xl: 1152px;
  --container-7xl: 1280px;

  --text-*: initial;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;
}