/*
  Part of tailwindcss preflight.css
  https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/preflight.css
*/

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}