@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import './color.css';
@plugin './dist/containerQueries.js';
@plugin './dist/plugin.js';

@utility col-end-span-* {
  grid-column-end: span --value(integer);
}

@utility row-end-span-* {
  grid-row-end: span --value(integer);
}

@utility animation-* {
  animation-play-state: --value("paused", "running");
}

@utility z-max {
  z-index: 2147483647;
}

@utility grid-cols-fit-* {
  grid-template-columns: repeat(auto-fit, minmax(min(--value(--container-*, [length]), 100%), 1fr));
}

@utility area-* {
  grid-area: --value([*]);
}

@utility text-box-* {
  text-box-trim: --value("trim-both", "trim-start", "trim-end");
}

@utility leading-* {
  text-box-trim: --value("trim-both", "trim-start", "trim-end");
}