@plugin './dist/containerQueries.js';
@plugin './dist/plugin.js';
@import "./scrollbar.css";

@utility col-end-span-* {
  grid-column-end: span --value(integer);
}

@utility row-end-span-* {
  grid-row-end: span --value(integer);
}

@utility text-stroke-* {
  -webkit-text-stroke-width: --value([length]);
  -webkit-text-stroke-width: calc(--value(integer) * 1px);
  -webkit-text-stroke-color: --value(--color-*, [color]);
}

@utility animation-* {
  animation-play-state: --value("paused", "running");
}

@utility z-max {
  z-index: 2147483647;
}

@utility grid-cols-fit-* {
  grid-template-columns: repeat(auto-fit, minmax(min(--value(--container-*, [length]), 100%), 1fr));
}

@utility grid-cols-fill-* {
  grid-template-columns: repeat(auto-fill, minmax(min(--value(--container-*, [length]), 100%), 1fr));
}

@utility area-* {
  grid-area: --value([*]);
}

/* https://www.w3.org/TR/css-inline-3/#leading-trim */
/* https://www.w3.org/TR/css-inline-3/#text-box-edge */
/* https://caniuse.com/css-text-box-trim */
@utility text-box-* {
  text-box-trim: --value("trim-both", "trim-start", "trim-end");
}

@utility leading-* {
  text-box-trim: --value("trim-both", "trim-start", "trim-end");
}

@utility image-rendering-* {
  image-rendering: --value("auto", "crisp-edges", "pixelated");
}

@utility dir-* {
  direction: --value("ltr", "rtl");
}

@utility h-stretch {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}

@utility w-stretch {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

@utility size-stretch {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}

@utility min-size-* {
  min-width: --spacing(--value(integer));
  min-width: --value([percentage], [length]);
  min-height: --spacing(--value(integer));
  min-height: --value([percentage], [length]);
}

@utility max-size-* {
  max-width: --spacing(--value(integer));
  max-width: --value([percentage], [length]);
  max-height: --spacing(--value(integer));
  max-height: --value([percentage], [length]);
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility inline-flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@utility scrollbar-gutter-auto {
  scrollbar-gutter: auto;
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

@utility scrollbar-gutter-both {
  scrollbar-gutter: stable both-edges;
}

@utility scrollbar-none {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-hidden {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-thin {
  scrollbar-width: thin;
}

@utility resizable {
  resize: both;
  overflow: hidden;
}

@utility resizable-x {
  resize: horizontal;
  overflow: hidden;
}

@utility resizable-y {
  resize: vertical;
  overflow: hidden;
}

/* Writing mode */
@utility writing-* {
  writing-mode: --value("vertical-rl", "vertical-lr", "horizontal-tb", "sideways-rl", "sideways-lr");
}

/* Overflow-anchor */
@utility overflow-anchor-* {
  overflow-anchor: --value("none", "auto");
}

/* Modern way to create block formatting context */
@utility clear-fix {
  display: flow-root;
}


/* Extends tailwindcss default utility classes */
@utility basis-max {
  flex-basis: max-content;
}

@utility basis-min {
  flex-basis: min-content;
}

@utility basis-fit {
  flex-basis: fit-content;
}

@utility line-break-* {
  line-break: --value("normal", "auto", "loose", "strict", "anywhere");
}


/*
following:bg-red-500 后面 所有 兄弟元素
preceding:bg-blue-500 前面 所有 兄弟元素
preceding-3:text-lg 前面 所有三个 兄弟元素
preceding-nth-3:font-bold 后面 第三个 兄弟元素
neighbors-2:underline 前面两个 和 后面两个 共四个 兄弟元素
neighbors-nth-2:italic 前面后面 各自 第二个 兄弟元素
*/
/* @custom-variant preceding (:has(~ &)); */
@custom-variant preceding {
  :has(~ &) {
    @slot;
  }
}

/* @custom-variant following (& ~ *); */
@custom-variant following {
  & ~ * {
    @slot;
  }
}

/* Webkit scrollbar pseudo */
@custom-variant webkit-scrollbar (&::-webkit-scrollbar);
@custom-variant webkit-scrollbar-thumb (&::-webkit-scrollbar-thumb);
@custom-variant webkit-scrollbar-track (&::-webkit-scrollbar-track);
@custom-variant webkit-scrollbar-track-piece (&::-webkit-scrollbar-track-piece);
@custom-variant webkit-scrollbar-button (&::-webkit-scrollbar-button);
/* @custom-variant display-mode-fullscreen @media (display-mode: fullscreen); */

/* Combine multiple variants */
@custom-variant hover-focus (&:hover, &:focus);
@custom-variant hover-active (&:hover, &:active);